body {
    display: flex;
    background: linear-gradient(135deg, #2e8b8b, #1b1f2b);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: none;
    margin: 0px;
    padding: 0px;
}


.gameboy {
    display: flex;
    justify-content: flex-start;
align-items: center;
flex-direction: column;
        background: linear-gradient(rgba(255, 255, 255, 1), rgba(225,200,225,1));
        width: 360px;
        height: 582px;
        border: none;
        border-radius: 15px 15px 80px 15px;
        box-shadow: inset 0px 0px 30px 1px rgba(255, 255, 255, 0.5),
        inset 0px -240px 90px 0px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(255, 255, 255, 0.1),
        0px -1px 3px 0px rgba(0, 0, 0, 0.5),
        inset 0px 0px 7px 1px rgba(0,0,0, 1); 
        background-size: 3px 3px;
        overflow: hidden;


    }


.outline {
    position: relative;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right top, rgb(90, 90, 90), rgb(110, 110, 110));
    border-radius: 15px 15px 40px 15px;
   /** border-bottom: 1px inset #999;
    border-right: 3px inset #999;
    border-left: 4px inset rgba(0, 0, 0, 0.4);
    border-top: 3px inset rgba(0, 0, 0, 0.5);
    **/
    width: 300px;
    height: 200;
    bottom: 30px;
}


.screen {
    position: relative;
    background: linear-gradient(to right top, rgb(185, 167, 82),rgb(205, 187, 102));
    width: 188px;
    height: 172px;
    border-bottom: 3px solid #999;
    border-right: 3px solid #999;
    border-left: 8px solid rgba(0, 0, 0, 0.5);
    border-top: 4px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 0px 5px inset rgba(0, 0, 0, 0.15);
    transition: opacity 0.5s ease-in-out;
    bottom: 30px;
    left: 45px;
}

.gameboy .screen h2,
.gameboy .screen h3,
.gameboy .screen h4 {
    font-size: 0.73rem;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0);
    transition: opacity 0.5s ease-in-out;
}


.buttons {
    position: relative;
    left: 90px;
    top: 20px;
    flex-direction: row;
    border: none;
    border-radius: 40px;
    box-shadow: -0px -2px 2px 0px rgba(0, 0, 0, 0.07),
    -2px -2px 4px rgba(255, 255, 255, 0.1),
    inset 0px -15px 10px 0px rgba(255, 255, 255, 0.3),
    inset 10px 10px 20px 2px rgba(0, 0, 0, 0.15);

    padding-left: 2px;
    padding-right: 2px;
    padding-top: 7px;
    padding-bottom: 7px;

    transform: rotate(-30deg);
  }


  button {
    position: relative;
background: linear-gradient(to bottom, #b30f42 0%, #640116 100%);
    box-shadow: inset -3px -3px 2px rgba(0,0,0,0.5),
    inset 5px 0px 2px rgba(255, 255, 255, 0.6),
    inset -10px 0px 2px rgba(0, 0, 0, 0.07),
    -2px -2px 0px rgba(0, 0, 0, 0.3),
    3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 12px;
    background-size: 2px 2px;

    margin-left: 5px;
    margin-right: 5px;
}




#rock:active,
#paper:active,
#scissors:active {
    box-shadow: inset -3px -3px 2px rgba(0,0,0,0.5),
    inset 7px 0px 2px 1px rgba(255, 255, 255, 0.6),
    inset -10px 0px 2px rgba(0, 0, 0, 0.07),
    -2px -2px 0px rgba(0, 0, 0, 0.3),
    1px 1px 2px rgba(0, 0, 0, 0.5);
}




.power-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 60px;
    right: 128px;
}

.power-light {
    width: 10px;
    height: 10px;
    background-color: rgb(34, 34, 34);
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
    box-shadow: inset 3px 0px 0px rgba(255, 255, 255, 0.1);
}

.power-label {
    font-size: 0.55rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(200, 200, 200, 0.8);
    position: relative;
    left: 23px;
}

.gameboy:hover .power-light {
    background: linear-gradient(to right,rgba(255, 100, 100, 1), rgb(255, 0 , 0));
}

.gameboy:hover .screen {
    background: linear-gradient(to right top, rgb(195, 187, 82), rgb(165, 167, 62));
}

.gameboy:hover .screen h2,
.gameboy:hover .screen h3,
.gameboy:hover .screen h4 {
    color: rgba(0, 0, 0, 0.6);
}





.brand-text {
    position: relative;
    top: 55%;
    left: 5%;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 150, 0.5);
}

.redLine {
    position: relative;
    border: 2px solid rgba(122, 28, 75, 0.7);
    width: 280px;
    left: 5px;
    top: 12px;

}

.blueLine {
    position: relative;
    border: 2px solid rgba(29, 29, 92, 0.7);
    width: 280px;
    left: 5px;
    top: 13px;

}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.58rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(180, 180, 180, 0.8);
    background: linear-gradient(to right bottom, rgb(100, 100, 100), rgb(70, 70, 70));
    position: relative;
    top: 4px;
    left: 85px;
    width: 170px;
    height: 10px;
}

.onOff {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    top: 6px;
    right: 110px;
    border: inset 1px rgba(0,0,0,0.2);
    box-shadow: inset 2px 2px 1px rgba(0,0,0, 0.2);
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
}

.vLine1 {
    position: relative;
    left: 28px;
    top: 27px;
    border: groove 2px rgba(0, 0, 0, 0.1);
    border-bottom: none;
    height: 25px;
    width: 2px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 2px 2px 1px rgba(255, 255, 255, 0.3);
}

.vLine2 {
    position: relative;
    left: 330px;
    top: 0px;
    border: groove 2px rgba(0, 0, 0, 0.1);
    border-bottom: none;
    height: 25px;
    width: 2px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 2px 2px 1px rgba(255, 255, 255, 0.3);
}

.sLine{ 
    position: relative;
    border: groove 2px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    width: 360px;
    height: 2px;
    bottom: 0px;
    box-shadow: inset 0px 0px 3px 3px rgba(255, 255, 255, 0.3);
}

.topLines {
    position: relative;
    left: 0px;
    bottom: 47px;
}

.NGB {
    position: relative;
    flex-direction: row;
    display: flex;
    bottom: 20px;
    right: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Nintendo {
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 100, 0.8);
}

.game {
position: relative;
font-size: 1.6rem;
bottom: 10px;
font-style: italic;
color: rgba(0, 0, 100, 1);
}

.boy {
    position: relative;
    font-size: 1.6rem;
    bottom: 10px;
    margin-left: 3px;
    font-style: italic;
    color: rgba(0, 0, 100, 1);
    }

.tm {
    position: relative;
    font-size: 0.6rem;
    top: 5px;
    font-weight: bolder;
    color: rgba(0, 0, 100, 0.8);
}

.btnText {
    color: rgba(0, 0, 100, 0.5);
    display: flex;
    flex-direction: row;
    transform: rotate(-30deg);
    position: relative;
    left: 127px;
    bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

p {
    margin-right: 44px;
}




.up {
    position: relative;
    border-radius: 4px 0px 0px 4px;
    border: none;
    background: rgba(0, 0, 0, 1);
    height: 30px;
    width: 40px;
    top: 11px;
    left: 22px;
    box-shadow: none;
    transform: rotate(90deg);
    color: black;
    font-size: 1.2rem;
    text-shadow: -3px -1px 0px rgba(255,255,255,0.3);
    background: rgba(20,20,20, 1);
    box-shadow: inset 5px 5px 1px rgba(0, 0, 0, 0.5),
    inset -5px -5px 1px rgba(0, 0, 0, 0.5),
    inset 6px 6px 1px rgba(255,255,255,0.3),
    inset -6px -6px 1px rgba(255,255,255,0.3),
    1px 1px 1px rgba(0, 0, 0, 0.3), /*new shadows*/
    -1px -1px 1px rgba(0, 0, 0, 0.3),
    3px -3px 2px rgba(0, 0, 0, 0.5);

    background-size: 2px 2px;
}


.down {
        position: relative;
        border-radius: 0px 4px 4px 0px;
        border: none;
        background: rgba(0, 0, 0, 1);
        height: 30px;
        width: 40px;
        top: 23px;
        left: 22px;
        box-shadow: none;
        transform: rotate(90deg);
        color: black;
        font-size: 1.2rem;
        text-shadow: 13px -1px 0px rgba(255,255,255,0.3);
        background: rgba(20,20,20, 1);
        box-shadow: inset 5px 5px 1px rgba(0, 0, 0, 0.5),
        inset -5px -5px 1px rgba(0, 0, 0, 0.5),
        inset 6px 6px 1px rgba(255,255,255,0.3),
        inset -6px -6px 1px rgba(255,255,255,0.3),
        1px 1px 1px rgba(0, 0, 0, 0.3), /*new shadows*/
        -1px -1px 1px rgba(0, 0, 0, 0.3),
        3px -3px 2px rgba(0, 0, 0, 0.5);

    background-size: 2px 2px;
    }

    .left {
    position: relative;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background: rgba(0, 0, 0, 1);
    height: 30px;
    width: 40px;
    bottom: 27px;
    left: 2px;
    box-shadow: none;
    color: black;
    font-size: 1.2rem;
    text-shadow: -10px -2px 0px rgba(255,255,255,0.3);
    background: rgba(20,20,20, 1);
    box-shadow: inset 5px 5px 1px rgba(0, 0, 0, 0.5),
    inset -5px -5px 1px rgba(0, 0, 0, 0.5),
    inset 6px 6px 1px rgba(255,255,255,0.3),
    inset -6px -6px 1px rgba(255,255,255,0.3),
    1px 1px 1px rgba(0, 0, 0, 0.3), /*new shadows*/
    -1px -1px 1px rgba(0, 0, 0, 0.3),
    0px 3px 2px rgba(0, 0, 0, 0.5);

    background-size: 2px 2px;
}

.right {
    position: relative;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background: rgba(0, 0, 0, 1);
    height: 30px;
    width: 40px;
    bottom: 57px;
    left: 43px;
    box-shadow: none;
    color: black;
    font-size: 1.2rem;
    text-shadow: 2px -1px 0px rgba(255,255,255,0.3);
    background: rgba(20,20,20, 1);
    box-shadow: inset 5px 5px 1px rgba(0, 0, 0, 0.5),
    inset -5px -5px 1px rgba(0, 0, 0, 0.5),
    inset 6px 6px 1px rgba(255,255,255,0.3),
    inset -6px -6px 1px rgba(255,255,255,0.3),
    1px 1px 1px rgba(0, 0, 0, 0.3), /*new shadows*/
    -1px -1px 1px rgba(0, 0, 0, 0.3),
    3px 3px 2px rgba(0, 0, 0, 0.5);


    background-size: 2px 2px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100%;
    border: none;
    height: 23px;
    width: 23px;
    bottom: 82px; /*29*/
    left: 32px;
    box-shadow: none;
    color: rgba (20,20,20,1);
    font-size: 3rem;
    text-shadow: 3px -13px 5px rgba(255,255,255,1);
    background: rgba(20,20,20, 1);


    box-shadow: inset -3px 0px 3px rgba(255, 255, 255, 0.3),
    inset 6px 0px 8px rgba(0, 0, 0, 0.5),
    0px 0px 40px 5px rgba(0, 0, 0, 0.5);

    background-size: 2px 2px;
}


.gbCross {
    position: relative;
    border-radius: 50px;
    border: none;
    height: 95px;
    width: 95px;
    box-shadow: inset 25px 5px 5px 0px rgba(0, 0, 0, 0.12),
    -5px -5px 5px 0px rgba(0, 0, 0, 0.1),
    5px 5px 5px rgba(255, 255, 255, 0.3);
}

.crossBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 110px;
    bottom: 110px;

}



.btnStart,.btnSelect {
    position: relative;
    bottom: 70px;
    right: 30px;
    transform: rotate(-30deg);
    background: rgb(202, 202, 202);
    background-size: 2px 2px;
    border-radius: 20px;
    height: 7px;
    width: 42px;

    border: none;
    box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5),
    -2px -2px 0px 3px rgba(0, 0, 0, 0.25),
    0px 2px 0px 3px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}


.ssSelect,.ssStart{
    color: rgba(0, 0, 100, 0.5);
    transform: rotate(-30deg);
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 0.9rem;
    margin-left: 15px;
   }

   .ssText{
    position: relative;
    bottom: 75px;
    right: 25px;
    display: flex;

   }

   .headPhones {
    position: relative;
    bottom: 37px;
    right: 12px;


    border: groove 1px rgba(0,0,0,0.2);
    box-shadow: inset 2px 2px 1px rgba(0,0,0, 0.2);

    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.2);

    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.5rem;
   }


   .hpRidges {
    position: relative;
    display: flex;
    flex-direction: row;
    bottom: 37px;
   }

   .rBtm1,.rBtm2,.rBtm3 {
    position: relative;
    height: 5px;
    border: groove 2px rgba(0, 0, 0, 0.2);
    margin-left: 1px;
    margin-right: 1px;
   }



   .rTop1,.rTop2,.rTop3 {
    position: relative;
    height: 3px;
    border: groove 2px rgba(0, 0, 0, 0.2);
    margin-left: 1px;
    margin-right: 1px;
   }

   .topRidges {
    position: relative;
    display: flex;
    flex-direction: row;
    bottom: 619px;
    right: 128px;
   }


.btmShadow{
    position: relative;
    border: none;
    width: 200px;
    bottom: 120px;
    left: 112px;
    transform: rotate(-30deg);
    box-shadow: 0px 50px 5px 22px rgba(0, 0, 0, 0.2);
}


.glassScreen{
    position: relative;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(150, 150, 150, 0.2));
    border-radius: 15px 15px 40px 15px;
    border-bottom: 1px groove #999;
    border-right: 3px groove rgba(255,255,255, 0.5);
    border-left: 4px groove rgba(0, 0, 0, 0.4);
    border-top: 3px groove rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 230px;
    bottom: 598px;
    left: 1px;
}


.sr1,
.sr2,
.sr3,
.sr4,
.sr5,
.sr6 {
    position: relative;
    background: rgba(0, 0, 0, 0.05);
    border-left: inset 1px rgba(0, 0, 0, 0.1);
    border-right: inset 3px rgba(0, 0, 0, 0.4);
    height: 60px;
    width: 7px;
    margin-left: 12px;
    border-radius: 20px;
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.1);
}


.soundRidges {
    position: relative;
    display: flex;
    flex-direction: row;
    bottom: 385px;
    left: 100px;
    border: none;
    width: 140px;
    height: 90px;
    transform: rotate(-30deg);
}

.sr1 {
    background: rgba(0, 0, 0, 0.05);
    border-left: inset 1px rgba(0, 0, 0, 0.1);
    border-right: inset 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
}


.srhole{
    position: relative;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    height: 47px;
    width: 1px;
    margin-top: 5px;
    margin-left: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}